/* Sticky footer styles
-------------------------------------------------- */
html {
  	position: relative;
  	/* This image will be displayed fullscreen */
	background:url('https://cloud.githubusercontent.com/assets/9150985/12080141/4a62a32a-b25a-11e5-84ca-9e1fb73f4417.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	/* The Magic */
	background-size:cover;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	background: transparent;
  	color: white;
  	font-family: "Century Gothic", Arial, sans-serif;
}

.footer {
  position: fixed;
  z-index: 1200;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header {
    margin: 0;
    border: none;
        background-color: rgba(34,139,34,0.5);
}

.page-header h1 {
	font-family:"Lucida Bright", Georgia, serif;
	font-weight:bold;
	color: chartreuse;
    	text-shadow: 1px 1px 2px darkgreen;
    	padding-top: 10px;
}

.page-header h2 {
	color: palegreen;
	margin-top:10px;
	margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 8em;
}




.carousel-inner p {
	text-align: center;
	padding: 0 !important;
}

.carousel-caption {
	background: rgba(0,0,0,0.3);
}

#maps iframe {
	max-width: 100%;
    	width: 100%;
    	padding: 10px;
}

img#trip {
	background: white;
    	border-radius: 4px;
}

/* Media Queries
-------------------------------------------------- */
/* Miscellaneous */
@media screen and (min-width: 768px){
	#header {           	/* page-header container */
		width: 100%;
		padding: 0;
	}
	.page-header {
		    padding-right: 15%;
	}
	
	.footer {
		    height: 70px;
	}
}

@media screen and (min-width: 768px) and (max-height: 500px){

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	
 
}
 
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.navbar-fixed-top .navbar-collapse {
    		max-height: none;
	}
		.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    		border-color: transparent;
	}
	img#logo.img-responsive {
		width: 50%;
	}
	#header {
		background-color:rgba(0,0,0,0.3);
	}
	.page-header {
		margin-top: 4.5em;
    		background-color: transparent;
	}
}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
 
}
