/* Sticky footer styles
-------------------------------------------------- */
html {
  	position: relative;
  	/* This image will be displayed fullscreen */
	background:url('https://cloud.githubusercontent.com/assets/9150985/12080141/4a62a32a-b25a-11e5-84ca-9e1fb73f4417.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	/* The Magic */
	background-size:cover;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	background: transparent;
  	color: white;
  	font-family: Century Gothic;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,0.5);
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav {
    background-color: rgba(0,0,0,0.3);
	
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: orange;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: rgba(255,255,255,0.3);
}

.page-header {
    margin: 0;
}

/* Media Queries
-------------------------------------------------- */
/* Large Devices, Wide Screens */
@media screen and (min-width: 768px) and (min-height: 600px){
	.navbar-nav {
    		position: fixed;
    		top: 16em;
	}
	.nav>li {
 		clear: both;
 		width: 100%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	
 
}
 
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.navbar-nav {
    		top: 10em;
    		position: relative;
	}
	
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
 	
}

/* Transition size - MS */
@media only screen and (max-width : 600px){
	img#logo.img-responsive {
		width: 50%;
	}
	.page-header.text-right {
    		text-align: left;
	}
 
}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
 
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
 
}
