/* Sticky footer styles
-------------------------------------------------- */
html {
  	position: relative;
  	/* This image will be displayed fullscreen */
	background:url('https://cloud.githubusercontent.com/assets/9150985/12080141/4a62a32a-b25a-11e5-84ca-9e1fb73f4417.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	/* The Magic */
	background-size:cover;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	background: transparent;
  	color: white;
  	font-family: "Century Gothic", Arial, sans-serif;
}

.footer {
  position: fixed;
  z-index: 1200;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.page-header {
    margin: 0;
    border: none;
        background-color: rgba(34,139,34,0.5);
}

.page-header h1 {
	font-family:"Lucida Bright", Georgia, serif;
	font-weight:bold;
	color: gold;
    	text-shadow: 1px 1px 2px darkgreen;
    	padding-top: 10px;
}

.page-header h2 {
	color: palegreen;
	margin-top:10px;
	margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 8em;
}

.nav-tabs>li {
    		float: left;
    		width: 100%;
}

.nav-tabs>li>a {
    color: white;
    margin-right: 0;
    border: none;
    border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: yellowgreen;
    border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    	color: white;
    	background-color: darkgreen;
    	border: none;
}

.tab-content>.tab-pane {
    	background-color: rgba(0,0,0,0.7);
}

.tab-content>.tab-pane p {
    	padding: 0.2em 1em;
}

.tab-content>.tab-pane h3 {
    	padding-left: 0.375em;
    	color: gold;
}

.tab-content>.tab-pane h4 {
    	padding-left: 0.375em;
}

.carousel-inner p {
	text-align: center;
	padding: 0 5em !important;
}

.carousel-caption {
	background: rgba(0,0,0,0.3);
	padding: 0;
	left: 0;
	right:0;
}

 .carousel-indicators {
	display: none;
}

#maps iframe {
	max-width: 100%;
    	width: 100%;
    	padding: 10px;
}

img#trip {
	background: white;
    	border-radius: 4px;
}

.btn {
    white-space: normal;
}

#footcollumn1 .btn {
    border: 2px solid;
    color: gold;
    font-weight: bold;
}   

.navbar-default .navbar-toggle {
    border-color: lightgreen;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: green;
}

.navbar-toggle {
    border: 2px solid transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: lightgreen;
}

#footrow1 .list-inline>li {
    float: left;
}

/* Media Queries
-------------------------------------------------- */
/* Miscellaneous */
@media screen and (min-width: 768px){
	#header {           	/* page-header container */
		width: 100%;
		padding: 0;
	}
	.page-header {
		    padding-right: 15%;
	}
	.nav-tabs {
    		border-bottom: none;
    		width: 25%;
    		float: left;
    		position: relative;
    		top: 12em;
    		left: -10em;
	}
	.nav-tabs>li {
    		margin-bottom: 5px;
    		border: 1px solid lightgreen;
	}
	.tab-content {
    		width: 60%;
    		float: left;
    		margin-left: 40%;
    		margin-top: -11.5em;
	}
	.tab-content>.tab-pane {
	border: 1px solid palegreen;
	}
	.footer {
		    height: 70px;
	}
	#footcollumn1 ul {
	margin-left: 20px;
	}
}

@media screen and (min-width: 768px) and (max-height: 500px){

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	
 
}
 
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.carousel-inner p {
	padding: 0 1em !important;
	}
	
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
	.navbar-fixed-top .navbar-collapse {
    		max-height: none;
	}
	.nav-tabs {
		background-color: green;
    		border-bottom: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    		border-color: transparent;
	}
	img#logo.img-responsive {
		width: 50%;
	}
	#header {
		background-color:rgba(0,0,0,0.3);
	}
	.page-header {
		margin-top: 4.5em;
    		background-color: transparent;
	}
	img#merchantlogos {
    		max-width: 75%;
	}
}
 
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.carousel-inner p {
		display: none;
	}
	img#trip {
	display:none;
	}
	#footcollumn2 li:first-child a {
		    background: url(https://cloud.githubusercontent.com/assets/9150985/13378811/ea29f732-de1a-11e5-9a2b-01bee0a09ac5.png) no-repeat center center;
			display: block;
			height: 36px;
			width: 36px;
			border-radius: 4px;
	}
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
 
}
